html {
  scroll-behavior: smooth;
}
.container{
    margin: 20px;
    

}
.animated1 {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
  *{
    box-sizing: border-box;
  }
 .header{
  font-family: 'Geostar', cursive;
 }
 